[2015-04-16 04:10] qasim opened #1 "Scraper classes themselves need to be formalized"
The `html` and `json` storage is formalized but the scraper classes themselves are a mess. Need to brainstorm how to formalize the class methods and updating/pushing to database.

[2015-04-16 06:12] qasim opened #2 "Implement a Calendar scraper"
The [UofT Calendar](http://www.artsandscience.utoronto.ca/ofr/calendar/) needs a scraper. It falls under the course schema that you can find in the [UofT Course API](https://github.com/cobalt-io/uoft-course-api/blob/master/model.js). For example on how to implement this scraper(until we have guides), check out the completed [Coursefinder scraper](https://github.com/cobalt-io/uoft-scrapers/blob/mas

[2015-04-16 06:13] #1 closed

[2015-04-16 06:13] qasim opened #3 "Timetable scraper needs to scrape both winter and summer course listings"
Currently, the [Timetable scraper](https://github.com/cobalt-io/uoft-scrapers/blob/master/course/utsgtimetable/timetable.py) only scrapes the summer courses. It should scrape both [winter](http://www.artsandscience.utoronto.ca/ofr/timetable/winter/) and [summer](http://www.artsandscience.utoronto.ca/ofr/timetable/summer/) in the `update_files(self)` method. Find a clean way to do this.

[2015-04-16 06:17] qasim opened #4 "Map scraper needs to generate JSON files for both buildings and food places"
The [map scraper](https://github.com/cobalt-io/uoft-scrapers/blob/master/building/map/map.py) needs to create JSON files for both buildings and food places. As of the time of updating this issue, it is completely empty.

You can check out the [UofT Building API](https://github.com/cobalt-io/uoft-building-api/blob/master/model.js) and [UofT Food API](https://github.com/cobalt-io/uoft-food-api/blob/

[2015-04-16 06:20] qasim opened #5 "CourseManager needs an algorithm for determining which JSON files to formulate a database object from"
The [Course Manager](https://github.com/cobalt-io/uoft-scrapers/blob/master/course/course.py) is in charge of actually pushing course information to the database. Right now, it updates all the JSON files for the Calendar, Timetable, and Coursefinder scrapers. The `upload(self)` method should grab the best information available and form a close-to-complete object that matches the UofT Course API sc

[2015-04-17 17:17] qasim opened #6 "Implement a scraper for the UTM timetable"
The UTM timetable needs a [scraper](https://github.com/cobalt-io/uoft-scrapers/tree/master/course/utmtimetable).

[2015-04-18 06:23] qasim opened #7 "Implement a scraper for the UTSC timetable"
The UTSC timetable needs a [scraper](https://github.com/cobalt-io/uoft-scrapers/blob/master/course/utsctimetable/timetable.py).

[2015-04-26 01:57] qasim opened #8 "Make all code within this repository comply with PEP8"
There may be a possibility of using some cool pre-commit hooks to check PEP8 compliance. Otherwise, we should begin moving the written code to PEP8 standards while then maintaining it as such too.

[2015-04-26 03:50] g3chench commented on #8
The important question is: tabs or spaces?

[2015-04-26 03:51] qasim commented on #8
@cchens: PEP8 recommends spaces, and to only use tabs when working with code that's already using tabs. SPACES > TABS!

[2015-04-26 03:51] 1vn commented on #8
spaces

[2015-04-26 04:06] g3chench commented on #8
@qasim

[Then what is this](https://github.com/cobalt-io/cobalt/commit/34a94aeebcb29d79f054fce7a358e412f02ad128)

[2015-04-26 04:06] qasim commented on #8
@cchens: photoshopped.

[2015-04-29 05:06] qasim opened #11 "Look into multi-threaded processes for speeding up CourseFinder scraper"
I don't know how much this can help, but maybe multi-threading for the [CourseFinder](https://github.com/cobalt-io/uoft-scrapers/blob/master/course/coursefinder/coursefinder.py) scraper can speed things up a little. Current execution time averages 2-4 hours (6000+ requests during Fall/Winter session). Maybe something like pooling processes to cut down on that time. No data needs to be exchanged be

[2015-09-16 05:21] #5 closed

[2015-09-16 05:21] #4 closed

[2015-09-16 05:21] #3 closed

[2015-09-16 05:21] #8 closed

[2015-09-16 05:22] #11 closed

[2015-09-16 05:23] qasim opened #12 "Rewrite README to reflect new usage"

[2015-09-29 04:47] #12 closed

[2015-11-21 23:38] qasim opened #13 "Scrapers for UofT room availability"
There are several services at UofT that provide room booking and computer lab availability. We should scrape these.

[2015-11-22 00:28] arkon commented on #13
How're you planning on dealing with this frequently-updating data?

[2015-11-22 00:30] qasim commented on #13
I guess that's a database-generator issue. I think the cleanest method is having a cron job for each type of data (course, buildings, exams, etc.) and then the cron job updates them on different intervals. As a kind of idea, how often are you scraping right now for CDF Labs app? @arkon

[2015-11-22 00:32] arkon commented on #13
@qasim The Android app itself scrapes the lab availability on demand since that page is public. The printer info is done via a cron job every minute on CDF.

[2015-11-22 00:35] qasim commented on #13
@arkon so I guess the other option is: do we want to have Cobalt support APIs that aren't scraped data but rather grabbing data live, or we just scrape both at high frequency intervals.

I'm leaning towards the latter, just since it would be faster for the person requesting the API as they aren't waiting for us to load another page and I'm not sure if there are too many diminishing returns to a 1

[2015-11-22 00:49] arkon commented on #13
@qasim I think the delay is fine. I also include a timestamp too, so users know when it was updated.

[2015-11-24 07:17] qasim opened #14 "Improve the library's API"
The following is kind of wonky:
[code]
Why don't we change this to something like the following?
[code]

[2015-11-30 19:24] qasim opened #15 "Implement a food scraper"
map.utoronto.ca has food information. We can scrape that information and form something like the following:

[code]

[2015-11-30 19:25] qasim commented on #15
Schema is open for opinions.

[2015-12-02 04:43] qasim opened #16 "Textbook scraper"
Scrape textbooks from http://uoftbookstore.com/ for required/option readings in courses.

[2015-12-13 20:00] qasim opened #17 "Student study space scraper"

[2015-12-18 03:58] qasim opened #18 "Add textbook information scraper from UofT Bookstore"

[2015-12-18 03:58] #16 closed

[2015-12-27 04:41] qasim commented on #13
Gonna shut this one down in terms of implementing into Cobalt. We can still write scrapers for them but they won't be added into Cobalt. Rapidly updating data doesn't fit well in an open data setting, and is taxing to always be scraping as well. I think these types of data should just be scraped by whoever wants to use the data on their own, and let's stick with data that doesn't expire rapidly fo

[2015-12-27 04:42] qasim commented on #17
Same as #13?

[2015-12-27 04:42] #17 closed

[2015-12-27 04:43] qasim commented on #14
Open to suggestions.

[2016-01-14 04:38] qasim commented on #13
Anyone who is interested in this, please use https://github.com/arkon/cdf-scrapers.

[2016-01-14 04:38] #13 closed

[2016-03-30 19:52] kashav commented on #15
I've started working on [this](https://github.com/kshvmdn/uoft-scrapers/blob/master/uoftscrapers/scrapers/food/__init__.py). Current schema is looking like:

[code]

Only problem with having `open` /  `close` as numbers was that you had no way of indicating the period (AM/PM). Some days, the restaurant is closed, which is the reason for the `closed` boolean (`open`, `close` are empty strings in th

[2016-03-30 19:52] kashav commented on #15
Also, I ended up having to duplicate `get_value` from the buildings [scraper](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrapers/buildings/__init__.py), might be a good idea to add that to the superclass.

[2016-03-30 20:07] qasim commented on #15
@kshvmdn looked over the class, this looks really good.

The courses JSON uses numbers for time, and it converts all time to be in 24-hour clock format (so a number between [0, 24), with for example 8AM being represented as `8`, and 12:30 PM being represented as `12.5`).

The initial motivation behind storing time in this format is that it allows for very low-friction querying over time (you can g

[2016-03-30 20:32] kashav commented on #15
@qasim ahhh such an obvious solution -- i'll work on getting that implemented

[2016-03-30 20:52] arkon commented on #15
@qasim I'm wondering why you didn't go with a string formatted as `hh:mm` instead? Seems more readable.

[2016-03-30 21:08] qasim commented on #15
@arkon The following is a snippet from the filter endpoint. Basically, with the number format, you can consider time values the same as numbers, and perform operations with them using MongoDB's `$ne`,  `$gt`,  `$lt`,  `$gte`, and `$lte` built-in queries.

https://github.com/cobalt-uoft/cobalt/blob/master/src/api/courses/routes/filter.js#L294-L315

[code]

[2016-03-30 21:30] kashav commented on #15
Added time conversion in https://github.com/kshvmdn/uoft-scrapers/commit/8e163c22b29fcafb38436585a9e575379f5b4ef8.

Had an odd case with [this](http://map.utoronto.ca/utm/marker/oph_dining_utm) location, with (what seems to be) a mistyped Monday opening time. Not sure whether we should ignore that time or just keep the _hacky_ solution that I'm currently using.

[2016-03-31 01:39] qasim commented on #15
@kshvmdn let's stick with the hacky solution so we account for all the restaurants, do you want to email the map people about that typo? Then when they fix it we can change that. 😊

[2016-03-31 16:06] qasim commented on #14
Come to think of it, these scrapers don't really have to be instantiated. Can call them statically:

[code]

[2016-03-31 20:24] qasim opened #20 "Scrape useful layers from map.utoronto.ca"
Check out http://map.utoronto.ca/ and how there are so many layers. If any of the layers make sense, let's build a scraper for them.

[2016-04-01 01:21] kashav commented on #14
Definitely prefer this. How would it work though – `scrape` has to be a class method, right? Otherwise, wouldn't it still require a `self` argument (which requires the class to be instantiated)?

[2016-04-01 01:38] qasim commented on #14
That's true. I guess the best we can get is `uoftscrapers.Buildings().scrape('./some/path')`.

[2016-04-01 04:27] kashav commented on #20
Started a [LayersScraper](https://github.com/kshvmdn/uoft-scrapers/blob/master/uoftscrapers/scrapers/layers/__init__.py#L6) subclass for all layers' scrapers. Don't know if this is even required, but it seems like scraping each layer is gonna be done similarly.

Also, does it make sense to add this alongside the [Scraper](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrape

[2016-04-01 04:36] qasim commented on #20
It's a good idea; lots of duplicate code otherwise.

In terms of where to place it, not too sure either. Since its a very basic superclass, we can move `scrapers/layers/` to `scrapers/scraper/layers/`. That way the root directories in `scrapers/` will have the `scraper/` where all the superclasses are, and the rest of the folders are actually the real scrapers.

[2016-04-01 17:39] qasim commented on #18
Work has begun over at [uoft-scrapers/add-textbooks](https://github.com/cobalt-uoft/uoft-scrapers/blob/add-textbooks/uoftscrapers/scrapers/textbooks/__init__.py)

[2016-04-02 01:59] vatdaell commented on #7
Hey I can work on that

[2016-04-02 02:18] qasim commented on #7
@vatdaell Cool! Here's where the file for it is: [`uoftscrapers/scrapers/timetable/utsc/__init__.py`](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrapers/timetable/utsc/__init__.py)

And these are the places I found where UTSC posts info. If you're a UTSC student, you may know better.
- http://www.utsc.utoronto.ca/~registrar/scheduling/timetable for Timetable info (cours

[2016-04-02 04:10] qasim commented on #14
We will change the library's API to the new one upon completion of https://github.com/cobalt-uoft/uoft-scrapers/issues/15 and https://github.com/cobalt-uoft/uoft-scrapers/issues/18.

[2016-04-02 20:10] qasim opened #22 "Add a table of contents to README.md"
It's getting hard to read the reference, a TOC for all the classes seems like a good idea

[2016-04-02 20:45] qasim commented on #20
Some other layers we should consider:
- Washrooms
- Wireless access points
- Parking lots
- Bicycle racks
- Building entrances (accessibility)

[2016-04-02 22:48] #15 closed

[2016-04-03 23:33] malligaraj commented on #22
Hi! @qasim I am new to contributing to OSS and I think this could be a great way to get in my first pull request if you are okay with it :)

[2016-04-03 23:54] qasim commented on #22
@malligaraj hello! Welcome to open source. I'll assign this to you, let me know if you have any questions.

[2016-04-04 18:55] qasim opened #23 "Make a uoft-scrapers CLI"
We should have a CLI for this, too.

Maybe used like:
[code]

Logging should output to stdout.

[2016-04-06 03:30] qasim commented on #18
@kshvmdn @arkon @/anyone else who's interested: how's this for a Textbook schema? The scraper over at #25 is currently outputting this type of JSON.

[code]

`id` is also the ISBN of the book.
`courses` contains the meeting section(s) where the course was mentioned, and then whether or not it's actually required (vs. optional).

[2016-04-06 05:30] kashav commented on #18
Scraper looks really nice. Might be a good idea to add a `url` key. Looks like theres a hidden input with the product numbers, which can be used for the url:

[code]

http://uoftbookstore.com/buy_book_detail.asp?pf_id=11078616

[code]

http://uoftbookstore.com/buy_book_detail.asp?pf_id=11119104

Also, I think some books have replacements, so instead of "Required" it'd say "Alternate" (check MAT137

[2016-04-06 14:54] qasim commented on #18
Good catch, I was looking for a unique ID other than the ISBN but couldn't find one. We'll use that product number as the ID and have another field for ISBN. Also added the URL.

Now there's a `requirement` key, with values `required`, `optional`, `recommended`, or `alternate` for each course.

[2016-04-06 14:57] qasim commented on #18
[code]

[2016-04-06 17:23] arkon commented on #18
I think some books might have multiple authors, so that could be an array of strings. Also, editions might also be strings like "5th Canadian Edition" or something similar.

[2016-04-07 00:56] #22 closed

[2016-04-07 01:05] qasim commented on #18
@arkon  I'm working on the multiple author support now. 👊

I can't seem to find an example for the edition string, have you found any?

[2016-04-07 01:37] arkon commented on #18
@qasim Hmm maybe not then. I only vaguely remember it when looking for textbooks in recent years, but maybe it was just part of the title.

[2016-04-08 04:21] #18 closed

[2016-04-11 21:32] qasim opened #30 "WiFi hotspot scraper"
From #20

WiFi hotspot scraper, retrieves data from http://map.utoronto.ca (so it can use the [LayerScraper](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrapers/scraper/layers/__init__.py)).

Let's discuss possible schemas / what exactly to scrape and whether we can get more info somewhere else too.

[2016-04-12 00:11] kashav commented on #30
There doesn't seem to be a lot of information available for the access points (also WiFi data is only available for UTSG). Nonetheless, I think the schema would look something like:

[code]

A quick search found this source as well: http://wireless.utoronto.ca/cmaps, which includes real time usage and coverage around each campus (I'm not sure how useful this is though, considering https://github.c

[2016-04-12 00:18] qasim commented on #30
I think there is a chance here to email support@wireless.utoronto.ca asking to see if there is a possibility to get direct DB access for the sake of Cobalt (in this case, then this will be the first case of an API that will only be available on the hosted version of Cobalt and not the open source project, + it won't have a scraper).

I don't know if now is the best time to email or maybe we should

[2016-04-12 02:59] kashav commented on #30
It's definitely a good idea to ask, what do you think the chances of getting access are? As for when, I think the best bet is to do it as soon as possible – how long ago did you email the faculty members?

Also, a note about the schema above, turns out `image` is the same for all points, so I don't think that needs to be included.

[2016-04-12 03:14] qasim opened #31 "Library information scraper"
https://onesearch.library.utoronto.ca/visit

Most libraries at UofT aren't whole buildings, here's a list of libraries that /are/ buildings but also inside other buildings.

Library names, location (we'd have to map these to building IDs to minimize duplicate information), operating hours, photo, website URL, description, "collection strengths", and "how to access".

[2016-04-12 03:19] qasim commented on #6
So UTM has a set of mobile websites for a lot of cool stuff. Here's UTM courses: https://m.utm.utoronto.ca/timetable.php

[2016-04-12 03:27] qasim opened #32 "UTM shuttle times scraper"
https://m.utm.utoronto.ca/shuttleByDate.php?year=2016&month=04&day=10

UTM has a mobile website for their UTM <-> UTSG shuttle. This would fall under transit / transportation. This scraper should scrape the current month's shuttle times (First day of the current month all the way to the last day). The URL makes this an easy ~30 page request scrape.

As for UTSG and UTSC and other UTM transportatio

[2016-04-12 03:32] qasim opened #33 "Parking lot / Bicycle rack scraper"
From #20

Parking lots / Bicycle rack scraper, falls under transportation. I think all these parking lot/ rack / motorcycle / accessible parking etc. layers can be merged under one schema. Available for all 3 campuses.

http://map.utoronto.ca/

[2016-04-12 03:39] qasim commented on #30
I don't have enough experience to say, but from all the talking I've done with these subdivisions at UofT, no one has been in favour of providing their data directly to us.

But that's fine, we will continue to grow this service out until UofT will notice, and after that point things will get a lot easier. I have faith. 👊

I'll look into this after exam season and start sending more emails to DCS

[2016-04-12 03:41] qasim commented on #20
Everything I'd like to see for now from layers has its own issue. Closing this, but will reference it when we decide to go for more.

[2016-04-12 03:41] #20 closed

[2016-04-12 03:50] qasim opened #34 "UTM athletics scraper"
https://m.utm.utoronto.ca/physed.php

Scrape everything that shows up on that page.

In the meanwhile, I will try and get in contact with UTSG athletics to see if they can give their internal drop-in calendar to the public (I know it exists! I've seen it!).

As for UTSC, anyone from there can help out if they know any information about UTSC athletics.

[2016-04-12 03:52] purnimamehta commented on #6
Working on this over at [purnimamehta/uoft-scrapers](https://github.com/purnimamehta/uoft-scrapers/blob/master/uoftscrapers/scrapers/utmtimetable/__init__.py) - although I'm using [this site](https://student.utm.utoronto.ca/timetable/formatCourses2.php?yos=1&subjectarea=0&session=20159&course=&instr_sname=) to scrape course information instead of the [host site](https://student.utm.utoronto.ca/tim

[2016-04-12 04:00] qasim opened #35 "Exams scraper"
Scraper should check the current year to determine what pages to scrape. Example:

 - If the year is 2015
    - http://www.artsci.utoronto.ca/current/exams/dec14
    - http://www.artsci.utoronto.ca/current/exams/apr15
    - http://www.artsci.utoronto.ca/current/exams/june15
    - http://www.artsci.utoronto.ca/current/exams/aug15
    - http://www.artsci.utoronto.ca/current/exams/dec15
 - If the yea

[2016-04-12 04:03] qasim commented on #35
Also, @kshvmdn made [this tool](https://github.com/kshvmdn/uoft-exams) which may be help.

[2016-04-12 04:31] qasim opened #36 "Events scraper"
https://www.events.utoronto.ca/

[2016-04-12 17:27] qasim commented on #36
Proposed schema:

[code]

[2016-04-12 17:49] kashav commented on #35
Yeah, the scraper is basically complete, just have to adapt it to Cobalt design.

Also, I think each scrape should only include schedules for December to August of the provided year.

So for 2015:
- http://www.artsci.utoronto.ca/current/exams/dec14
- http://www.artsci.utoronto.ca/current/exams/apr15
- http://www.artsci.utoronto.ca/current/exams/june15
- http://www.artsci.utoronto.ca/current/exams/

[2016-04-12 17:50] kashav commented on #14
Are we still making this change? It should probably happen before any new scrapers are added, right?

[2016-04-12 18:11] qasim commented on #14
@We, we should. We can use Python's `@staticmethod` decorator to be able to call the API like:

[code]

Which means changing the structure of the scraper classes a little, as output_location is part of the superclass but shouldn't be. Also, instead of having instantiated variables (`self.x = x`), we will use static class variables. An example of their usage:
https://github.com/cobalt-uoft/uoft-scr

[2016-04-12 18:12] qasim commented on #14
(And since this is a breaking API change, it will be released on `0.3.0` which if I manage this issue by tonight, will also be released tonight).

[2016-04-12 18:13] qasim commented on #14
Opinions?

[2016-04-12 18:19] qasim commented on #14
What it would look like:

[code]

[2016-04-12 18:27] kashav commented on #14
Looks good to me

[2016-04-13 01:40] #14 closed

[2016-04-13 02:33] qasim commented on #35
I agree, that makes more sense. Then, year calculating logic would be:
- 2015 and month January - August
  - scrape for 2015
- 2015 and month September - December
  - scrape for 2016

etc.

[2016-04-13 02:36] qasim commented on #34
Proposed schema (for each type of athletics):

[code]

[2016-04-13 02:39] qasim commented on #32
Proposed schema (per shuttle stop id):

[code]

[2016-04-13 03:31] arkon commented on #32
I don't really understand what the `start` and `end` fields in `dates` mean?

[2016-04-13 03:43] qasim commented on #32
Woops, start and end don't apply here, do they. Here's a better one:
[code]

[2016-04-13 04:09] qasim commented on #32
Woops, start and end don't apply here, do they. ;P

So there is another aspect to this that I hadn't looked at or seen before. Based on other transit APIs I've looked at, they organize data with `routes` as the top level object and then routes own `stops` which contain times.

So the following is schema with top level being a route:

[code]

An example with fictional data for St. George route:

[c

[2016-04-13 04:12] qasim commented on #32
_Note:_ the dates are formatted in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard, offset for the Eastern timezone. It balances human readability in a compact form, and of course remains machine readable. I think this is the standard the whole project should take, but if you have an argument for something better than we can discuss that.

[2016-04-13 07:39] kashav commented on #35
Started working on [this](https://github.com/kshvmdn/uoft-scrapers/blob/master/uoftscrapers/scrapers/exams/__init__.py).  Current schema looks like:

[code]

Currently, `date` is in ISO 8601 format with time as `00:00:00`, would it be better to merge date + time and just have `start_time` and `end_time` (both in ISO 8601)?

Here's some example output:

[code]

Also, how should data be separated –

[2016-04-13 12:18] arkon commented on #32
Would we have a gigantic list of all times for the month per stop, or would we try to split it up so it's 1 file per day?

[2016-04-13 14:00] qasim commented on #35
I think `start_time` and `end_time` is a better idea, which would be ISO 8601 datetimes. You could keep `date` as well and have it as just an ISO 8601 date (`2016-04-21`).

As for the data, I think it will be worth separating data by course . A `course_id` parameter could be added, like `CSC165H1S20161`, so if someone using this course API wanted to, they could reference the course API to get more

[2016-04-13 14:52] qasim commented on #32
Once per day seems appropriate since there would be a /lot/ of times otherwise. I wish the shuttle times were a little more predictable, but on random days it likes to change slightly. :/

If we do days, then the top level would be days:

[code]

[2016-04-13 14:55] qasim commented on #35
Another reason for the course being top level is that a person using the API is more likely to search for their course's exam times than a date's exams, I'd say.

[2016-04-13 17:54] arkon commented on #32
Yeah it's usually schedules that are consistent for Monday - Thursday, then a few are missing for Friday, and Saturday/Sunday have way less. Then there's the special schedules for exam periods, reading weeks, etc.

[2016-04-13 19:07] arkon commented on #35
I think most people would be looking for a particular exam period (e.g. apr16), and then some course(s) within it.

[2016-04-13 19:35] qasim commented on #35
In that case, user would filter for `exam_session` and then their course, returning the course_id for their session and it's times.

[2016-04-13 20:13] kashav commented on #35
Based on the data we have access to, I think it'd be easier to have a `course_id` that matches a `course_code` from the course API (so `CSC165H1S` instead of `CSC165H1S20161`).

The way the scraper currently works is that you give it a year and it'll scrape data for each exam period of that year. So `2016` will scrape `dec15`, `apr16`, `june16`, and `aug16` and then create an individual output fil

[2016-04-13 20:15] kashav commented on #35
Some full year courses have exams in both December and April, so it might be better to give each `section` that key instead.

[code]

[2016-04-13 21:39] qasim commented on #35
This is what I was picturing:
The mapping to the end of the course IDs are:
- **`dec15`**
  - `F` -> `20159`
- **`apr16`**
  - `S` -> `20161`
  - `Y` -> `20159`
- **`june16`**
  - `F` -> `20165F`
- **`aug16`**
  - `S` -> `20165S`
  - `S` -> `20165`

So if we assume, say CSC165 is taught in every single semester of the school year, the IDs are:
- `CSC165H1F20159`
- `CSC165H1S20161`
- `CSC165Y1Y2015

[2016-04-13 21:46] qasim commented on #35
[code]

So now if a user wants to find this class, they'd filter `course_code:"MAT137Y1" AND period:"apr16"`

[2016-04-13 21:49] kashav commented on #35
Nice, that's a lot cleaner. How do we deal with December exams for full year courses?

[2016-04-13 21:54] qasim commented on #35
We could introduce an `id` for exams? I don't know if this is the cleanest or not :P

[code]

(if MAT137 had december exams)

[2016-04-14 01:25] vatdaell commented on #7
Hey,
I think we might have a problem with the UTSC calendar due to the current formatting of the utsg calendar. Some things do not apply to UTSC courses

[2016-04-14 01:36] kashav commented on #35
Made suggested [changes](https://github.com/kshvmdn/uoft-scrapers/commit/31cd6821fe0cc3dea3950b38a4115d98c9557d38) – went with [this](https://github.com/cobalt-uoft/uoft-scrapers/issues/35#issuecomment-209664418) `id` format for the time being (I think it looks fine, maybe an underscore between the period and the course id?)

Here's some example output:

[code]

[code]

[2016-04-14 01:45] kashav commented on #35
Also, there seems to be a _special_ course, SOC102STU, in the [December schedule](http://www.artsci.utoronto.ca/current/exams/dec15).

Apparently its a course from the [Steps to University](http://sites.utoronto.ca/typ/hsbcsteps.html) program. It's not on CourseFinder, so it's not in the courses API. For the time being I've ignored it and just left it out.

[2016-04-14 01:47] arkon commented on #7
@vatdaell Like what?

[2016-04-14 01:51] vatdaell commented on #7
@arkon enrollment numbers and limits are not public as of now. Also I'm not sure what id is used for. Plus are breadths just the breadth that each course belongs into?

[2016-04-14 01:55] qasim commented on #35
+1 to leaving the special case out.

The `id` looks good in the current form. Output looks great!

[2016-04-14 01:56] qasim commented on #35
We can `.upper()` the `period` key's value so that it's the same as the end of `id`.

[2016-04-14 02:11] arkon commented on #32
So it seems like the route ids aren't the same across the days, so we'll need to use the names as the identifiers. Unless you have a better idea, @qasim ?

(I'll probably take a shot at implementing this scraper.)

[2016-04-14 02:18] qasim commented on #32
@arkon that works. The convention so far has been id being all caps alphanumerical. So you could rmove the spaces/special characters, `upper()` so ids look like this maybe?

`STGEORGE`
`SHERIDAN`

[2016-04-14 02:51] qasim commented on #7
@vatdaell You can set enrolment numbers / limits to zero by default in that case.

`id` is a unique identifier for the course. Basically it's split into the following pieces:
- `CSCB09H3Y20165`
  - `CSCB09`: The code of the course
  - `H`: The course length (H is half term, Y is full year)
  - `3`: Campus identifier (1 = UTSG, 3 = UTSC, 5 = UTM)
  - `Y`: The length the course is actually taking (H

[2016-04-14 03:19] arkon commented on #32
@qasim Yeah that would probably work. It should be something like:

[code]

Note that there's no `building_id` for Sheridan College.

[2016-04-14 03:31] vatdaell commented on #7
Thanks

[2016-04-14 04:52] qasim commented on #32
Looks good. Eventually I want the project to start referencing other scraper's IDs as much as possible, there are a few cases where we don't right now. There's no infrastructure for that yet, though (matching building names to IDs in other scrapers). I guess for this one you'll have a manual mapping somewhere of the known stops to building IDs?

[2016-04-14 05:15] munrocape opened #39 "Repo structure"
Why are the scrapers themselves in the folders `__init__` files?
I thought init files were just for proper import / folder structure.

[2016-04-14 05:50] kashav commented on #35
UTSG scrapers are ready to go https://github.com/cobalt-uoft/uoft-scrapers/pull/40.

I've kind of started on the [UTSC](http://www.utsc.utoronto.ca/registrar/examination-schedule) / [UTM](https://student.utm.utoronto.ca/examschedule/finalexams.php) scrapers, but they only provide data for the current period (UTSC has [PDFs](http://www.utsc.utoronto.ca/registrar/exam-archive) for past schedules) an

[2016-04-14 06:15] qasim commented on #39
After reading up on modules/packages a little, you are correct!

I'm going to read more into it after my exam tomorrow and can propose a new directory/file structure that makes more sense. If you have any ideas, throw them around 😁

[2016-04-14 11:30] arkon commented on #32
Yeah, I guess the manual mapping would work. How are you going it elsewhere right now?

[2016-04-14 14:36] qasim commented on #32
If it's a map.utoronto.ca layer, chances are there is a `building_id` attached to things. Otherwise, nothing yet.

[2016-04-15 01:34] qasim commented on #39
So I see 2 directory structures that can be implemented.

With `__main__.py` instead:

[code]

Its usage is documented [here](https://docs.python.org/3/using/cmdline.html). It allows for command-line calling of functions but we don't use it in this case (everything is a class, no top-level functions or `__main__`). So it might me more appropriate to do the following:

[code]

I'll ponder over this

[2016-04-15 14:25] qasim commented on #30
An update: the department's Associate Chair for undergraduate studies is currently looking into what the DCS can do for Cobalt. Of course I'll let everyone know what the result of that is.

[2016-04-15 14:44] g3wanghc commented on #36
@qasim I'm down to work it. :V

[2016-04-15 14:52] qasim commented on #36
@g3wanghc Awesome. Here's a little tweaked schema that I had in mind, keeping with conventions from other scrapers:

[code]

`date` would be ISO 8601 format like `2016-04-15`.
`start_time` and `end_time` would also be ISO 8601 like `2016-04-15T12:00:00-04:00` (standardized for eastern timezone).
`url` would just be the URL of the event posting, i.e. https://www.events.utoronto.ca/index.php?action=

[2016-04-15 14:56] g3wanghc commented on #36
Sure, looks like fun. :+1:

[2016-04-15 22:03] qasim commented on #32
This should be good to close after https://github.com/cobalt-uoft/uoft-scrapers/pull/41#discussion-diff-59943113 is fixed.

[2016-04-15 22:45] qasim commented on #35
For the case of UTSC / UTM, we can provide current period data only then.

I tested the scraper out and the results look good! Thanks for the contribution :)

[2016-04-16 00:57] qasim commented on #33
I'll work on this one.

[2016-04-16 02:27] kashav commented on #39
I think I prefer the second, looks cleaner. What would import statements look like for the first?

Would it be something like: `from scrapers.buildings.__main__ import Buildings` or is there a nicer way to import classes from `__main__.py` files?

[2016-04-16 02:28] qasim commented on #39
It takes the name of the folder, so imports would be the same (I think).

[2016-04-16 03:26] #32 closed

[2016-04-16 20:01] #35 closed

[2016-04-16 20:02] #33 closed

[2016-04-16 21:27] kashav commented on #34
Started working on [this](https://github.com/kshvmdn/uoft-scrapers/blob/utm-athletics/uoftscrapers/scrapers/athletics/utm/__init__.py), scrapes all events for the given month.

Here's the current schema:

[code]

This one may work as well (using event titles as IDs):

[code]

As far as I can tell, all athletic events happen in the same building, the Recreation, Athletic & Wellness Centre (building

[2016-04-16 21:54] qasim commented on #34
@kshvmdn we can leave `building_id` in for now in anticipation for using this same schema for UTSG/UTSC data.

We can go with the former schema to match how our data looks for shuttles. LGTM!

[2016-04-16 22:15] #39 closed

[2016-04-16 23:07] qasim commented on #34
@kshvmdn  I merged a few refactors / small overhaul of scraper layout, let me know if you're able to merge master properly.

[2016-04-16 23:44] kashav commented on #34
@qasim No conflicts – I think it's good to go!

https://github.com/cobalt-uoft/uoft-scrapers/pull/51

[2016-04-16 23:55] qasim commented on #34
UTSC scraper, awesome!

Let's hope UTSG gives us standardized info on their stuff soon.

[2016-04-16 23:55] #34 closed

[2016-04-17 02:14] arkon opened #52 "Important dates scraper"
We should scrape the important dates info off of places like the [Faculty of Arts & Science](http://www.artsci.utoronto.ca/current/course/timetable/1516_fw/2015_fall_dates) or [UTM](http://m.utm.utoronto.ca/importantDates.php?type=C) websites.

[2016-04-17 06:07] qasim commented on #23
A rough guide on how to accomplish a CLI with a PyPi module:
https://gehrcke.de/2014/02/distributing-a-python-command-line-application/

[2016-04-19 15:18] g3wanghc commented on #36
@qasim Do we care about Admission Price, Contact Info, Website and Event Sponsor?

[2016-04-19 23:13] g3wanghc commented on #31
@qasim I'm down to work on this one.

[2016-04-19 23:40] #36 closed

[2016-04-19 23:41] qasim commented on #31
It's yours!

[2016-04-19 23:43] g3wanghc commented on #31
Invite me to cobalt? :V

[2016-04-21 13:49] g3wanghc commented on #31
Just had a chance to take a look at the actual site. `All hours`, `Collection strengths` and `How to access` are optional fields that may not exist. `All hours` is actually a link to a calendar, should we just provide the link?

@qasim Do we have a public API key without rate-limiting for `GET buildings/search/?q={{address}}&key={{public_key}}`?

[2016-04-21 14:48] g3wanghc commented on #31
Libraries have 2 links. e.g. "Health Science Information Consortium of Toronto"

`/content/health-science-information-consortium-toronto`
`/library-info/HSICT`

And don't necessarily have a `Description`, and sometimes would contain a `Teaser text`.

[2016-04-21 17:52] qasim commented on #31
We have no way of requesting API for scrapers yet. It's on the roadmap though.

On average is there enough information? If not, we may just call it here and not scrape libraries.

As for hours, I saw that they had the link to the calendar. If we do continue to scrape, we could do 1 week of the calendar and have similar hours structure as the Food scraper does

[2016-04-21 18:51] g3wanghc commented on #31
On average, there's usually enough information.

I will take your advice on the calendar thing. It doesn't look like too much work. ¯_(ツ)_/¯

[2016-04-25 16:36] g3wanghc opened #62 "scraper.get() 404 limbo"
Scraper.get('http://www.asc.utoronto.ca/Hours---Location.htm') limbos after first attempt with 404 response.

[2016-04-25 16:43] g3wanghc commented on #62
Non `200 status_code` should increment `attempts`.

[2016-04-25 16:44] g3wanghc commented on #62
Oh nvm this was fixed. Will do a pull. :|

[2016-04-25 17:02] arkon commented on #62
@g3wanghc Is it still happening?

[2016-04-25 17:24] g3wanghc commented on #62
@arkon Fixed it in my branch. Will make a pull request today.

[2016-04-25 17:42] g3wanghc commented on #62
Adding `requests.exceptions.InvalidSchema` as exception.

[2016-04-26 17:57] g3wanghc commented on #62
This issue should be fixed with pull request #63.

[2016-04-26 17:57] #62 closed

[2016-04-26 18:02] #31 closed

[2016-04-26 18:19] qasim opened #64 "Change all times (that don't have specific days attached to them) to seconds since midnight"
This includes courses and food, I believe.

Events should be updated so that the times are ISO 8601 if they aren't already.

[2016-04-26 18:20] g3wanghc commented on #2
@qasim `http://www.artsandscience.utoronto.ca/ofr/timetable/{winter/summer/fall}`?

[2016-04-26 18:21] qasim commented on #2
@g3wanghc those would fall under Timetable scraper (we have the UTSG verison of timetable scrapers already)

For Calendar, it would be the latest calendar: http://calendar.artsci.utoronto.ca/

[2016-04-26 18:27] g3wanghc commented on #64
@qasim I will fix start-time and end-time for `Events`. I've just noticed that there's a bug with the am/pm.

[2016-04-26 18:57] kashav commented on #64
I'll take food and courses! https://github.com/kshvmdn/uoft-scrapers/tree/change-hours

[2016-04-27 04:25] qasim opened #66 "Athletics scraper - merge events from different campuses that are on the same date?"
As it currently stands, the athletics scraper scrapes with top-level being a date. However, across campuses, the data is still in 2 different files (e.g. 01M and 01SC). I think it would make more sense to concatenate the two and have a schema like follows:

[code]

Looking at how we lay out scrapers, this actually may prove to be non-trivial. Any opinions on this change and if we were to implement

[2016-04-27 16:20] kashav commented on #66
I like this idea – the data will be a lot cleaner and we won't be repeating ids each month.

It shouldn't be hard to implement either, if we want to preserve the feature of scraping each campus separately, we can add a Boolean parameter to each `scrape` method which decides whether we save the data or return it. Then in `exams.__init__` we can merge the sets and save them.

[code]

There might be

[2016-04-27 18:40] qasim commented on #66
@kshvmdn that makes sense to me, better than what I was thinking :)

[2016-04-27 18:40] #64 closed

[2016-04-28 03:00] qasim opened #70 "Outstanding times which should be converted to seconds since midnight"
- [x] Exams #71
   - [x] `start_time`
   - [x] `end_time`
   - [x] add `duration` key
- [x] Athletics #68
   - [x] `start_time`
   - [x] `end_time`
   - [x] add `duration` key
- [x] Shuttles #69
   - [x] `routes.stops.times.time`
- [x] Events #67 #72
   - [x] `start_time`
   - [x] `end_time`
   - [x] add `duration` key

[2016-04-28 03:08] qasim commented on #70
We'll ship a new `uoft-scrapers@0.6.0` once all these are checked. (at that point I can update all the datasets and we can start working on fixing up cobalt-uoft/cobalt)

[2016-04-28 03:16] qasim commented on #66
Awesome. the JSON files look even greater now, since they match stuff like the shuttles scraper. Consistency is key!

Thanks again ^_^

[2016-04-28 03:16] #66 closed

[2016-04-28 03:35] kashav commented on #70
Exams ✔️

https://github.com/cobalt-uoft/uoft-scrapers/pull/71

[2016-04-28 03:51] kashav commented on #70
Events ✔️

https://github.com/cobalt-uoft/uoft-scrapers/pull/72

[2016-04-28 03:53] qasim commented on #70
Boom

[2016-04-28 03:53] #70 closed

[2016-04-28 04:10] qasim opened #73 "Events scraper shows `start_date` from 2015 as 2016"
Looking at [cobalt-uoft/datasets/events.json#L9](https://github.com/cobalt-uoft/datasets/blob/master/events.json#L9):

[code]

It shows the `start_date` as `2016-10-28` when it should be `2015-10-28`. Scraper should scrape the year as well when scraping for the date.

[2016-04-28 04:19] kashav commented on #73
Just took a look at the [event page](https://www.events.utoronto.ca/?action=singleView&eventid=12052) (might be a good idea to add an `event_url` key with this url), it looks like they don't even provide the year.

[2016-04-28 04:21] qasim commented on #73
@kshvmdn interesting. They happen to provide it on the [index](https://www.events.utoronto.ca/) but not the event page itself:
<img width="778" alt="screen shot 2016-04-28 at 12 20 09 am" src="https://cloud.githubusercontent.com/assets/3253505/14875269/0ccfbab6-0cd7-11e6-8eba-31e854494514.png">

[2016-04-28 04:24] qasim commented on #73
Darn, this may be harder than I thought. The scraper grabs only links from the main page (which is reasonable, UofT should really provide the full dates on the event pages...). It would require a sizeable rewriting.

[2016-04-28 13:18] g3wanghc commented on #73
Oops good catch. I just assumed the year to be the current year.

[2016-04-29 01:26] #73 closed

[2016-05-01 05:06] qasim opened #76 "Change Courses (coursefinder) scraper from hours since midnight to seconds since midnight"
The courses schema still scrapes and returns times in the "hours since midnight" form. Should be changed to seconds since midnight to match all the other scrapers.

[2016-05-01 05:19] kashav commented on #76
@qasim I think this is [done](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrapers/courses/__init__.py#L200), courses [dataset](https://github.com/cobalt-uoft/datasets/commit/6d2bd6bb282ab4651e53978ce12a444123bad917) might need an update.

[2016-05-01 05:20] qasim commented on #76
I probably should have checked first, huh. Thanks!

[2016-05-01 05:20] #76 closed

[2016-05-02 03:33] arkon opened #78 "Architecture exams scraper"
Seems like Daniels has [their own list of exams](https://www.daniels.utoronto.ca/node/5346) too

[2016-05-02 03:34] arkon commented on #78
On a semi-related noted, some other faculties (e.g. law and pharmacy) also have their own exam schedules, but I only found PDFs of them.

[2016-05-02 04:29] kashav commented on #78
Scraping Daniels shouldn't be hard, not too sure about the PDFs.

I think something to consider is that none of these faculties have courses on CourseFinder, which means they're not in the courses API. Does it still make sense to build scrapers for them?

UofT only provides [links](http://life.utoronto.ca/get-info/important-dates/#Exam%20Timetables) to the schedules for the four faculties that we

[2016-05-02 13:34] qasim commented on #78
+1 not supporting them, for now at least. If they were in CourseFinder I'd think differently.

[2016-05-03 14:11] qasim opened #79 "New UTSG Timetable scraper"
https://timetable.iit.artsci.utoronto.ca
I'll take this one. It'll just be converting their JSON dumps to our format. This looks fantastic, it looks like UofT has finally given machine readable course information. Shame its only for UTSG though.

[2016-05-03 16:11] #79 closed

[2016-05-03 16:14] qasim commented on #78
Worth noting that Architecture / law / pharmacy / etc. aren't supported in the new UTSG timetable either (since I guess it's only for A&S).

[2016-05-04 04:03] #78 closed

[2016-05-11 20:36] anderson202 commented on #52
i'd love to give the utm scraper a try, is there anything I should know/read about before I start?

[2016-05-11 22:12] qasim commented on #52
@anderson202 yes please! Give it a go and if you have any questions, we can answer them.

I have a very basic wiki here with information: https://github.com/cobalt-uoft/uoft-scrapers/wiki but it really isn't a lot. Have a look around at other scrapers to see whats up.

For this one, `UTMDates` as the scraper name sounds appropriate.

We can also discuss the schema format we want to go with. Any id

[2016-05-11 22:30] anderson202 commented on #52
@qasim I'm definitely a newbie to this so I'm not too sure how the format should be like.

Basic info we need would be the date and the detailed information regarding the day. Maybe we can list which academic session the date falls in as well.

A quick question, how should the scraper function? Should it scrape everything it can for upcoming dates, scrape only a specific session or a specific date

[2016-05-11 22:40] kashav commented on #52
+1 on including the session, I'm thinking something like:

[code]

It looks like the UTM mobile site has links to two years worth of data. I think the scraper can take a `year` parameter and then it'll scrape `<year>5` and `<year>9` for the two sessions available.

For example (`year = 2016`):
- Summer:
  - http://m.utm.utoronto.ca/importantDates.php?mode=full&session=20165
- Fall/Winter:
  - http

[2016-05-11 22:50] anderson202 commented on #52
Wow I didn't even think of using the mobile site. It's so much cleaner.

I'll start working on it and see if I can contribute to this. Thanks.

Edit:
@kshvmdn if I follow your format, wouldn't that return a bunch of files corresponding to each day? Would it be better to alter it some way and return a file for each session instead?

For example, would this work?
`{
    “session”:String,
    “dates”

[2016-05-11 23:32] kashav commented on #52
I'll take the [`UTSGDates`](https://github.com/kshvmdn/uoft-scrapers/tree/add-utsg-dates) scraper!

[2016-05-12 15:48] kashav commented on #52
@anderson202 That's actually what we want! Take a look at the [athletics](https://github.com/cobalt-uoft/datasets/blob/master/athletics.json) and [shuttle](https://github.com/cobalt-uoft/datasets/blob/master/shuttles.json) scrapers, they work the same way.

I got started on the UTSG scraper and I found it might be better to use the following format instead:

[code]

This will allow us to merge eve

[2016-05-12 21:58] anderson202 commented on #52
I think I have the UTM scraper done. But I'm not sure how the JSON files should be named. The ones I have currently is simply the date (or period) of the event as shown on the mobile site. Should I change it to a specific format before making a pull request?

[2016-05-12 22:28] kashav commented on #52
We use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format for dates. It isn't too hard to convert _regular_ dates to this format, we do it in a lot of our [scrapers](https://github.com/cobalt-uoft/uoft-scrapers/blob/master/uoftscrapers/scrapers/exams/utsg.py#L152:L156), using Python's [`datetime`](https://docs.python.org/2/library/datetime.html) module.

The files can take this date as

[2016-09-25 17:30] arkon opened #84 "ECF lab status"
As suggested on Gitter, we can get lab statuses for ECF stuff: https://ssl.ecf.utoronto.ca/ecf/services/labstatus/

[2017-01-10 17:11] qasim opened #85 "UofT Drop-in sports schedules"
The drop-in sports schedules at UofT SG seems more structured now:

https://kpe.utoronto.ca/sports-and-rec

There are still some differences between sports, but all seem scrape-able. We should take advantage of this.

[2017-01-10 20:19] kashav commented on #85
Looks like they're loading raw HTML after page load -

[code]

I think we can parse the URLs from here and then scrape the HTML from each URL.

The only other approach (as far as I can tell) would be to form a list of all possible `id_list` values and all possible `sport` values and then use those (`id_list` values map to buildings/locations, but not the same ones from the [buildings dataset](http

[2017-01-10 20:45] qasim commented on #85
Wow, can't say I'm surprised of the inconsistent building IDs 🙃

We could also limit athletics to just the current week, maybe. Perhaps that's trying too hard to accommodate for this and we should have another endpoint.

[2020-05-16 19:13] oshalash38 opened #87 "I don't know if this is even maintained anymore but..."
The UTSG Timetable scraper doesn't work anymore, I think it's not finding the resource API but I could be wrong.